1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*

hello

-87.8

-

/

+

6

*=expressions

hello=  values 

-87.8=Float

-=expressions

/=expressions

+=expressions

6=values

In [3]:
a='hello'

In [4]:
type(a)

str

In [5]:
b=-87.8
type(b)

float

In [6]:
c=6
type(c)

int

**2. What is the difference between string and variable?**

A Variable is a store of information, and a String is a type of information we would store in a Variable. A String is usually words, enclosed with " "

In [22]:
x='m'
type(x)

str

In this Example x is variable and m is string

**3. Describe three different data types.**

Three data types are: string, integer, floating point , Boolean .

In [19]:
x='m'
type(x)

str

In [20]:
y=8
type(y)

int

In [21]:
z=678.9
type(z)

float

**4.what is an expression made up of? What do all expressions do?**

An expression is a combination of operators, constants and variables.
Expression can perfrom some mathematical operation like addition,subtraction etc

**5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?**

This assignment statements, like spam = 10

 only the prompt is returned. There is no value.


Expressions always returns a value.

A statement never returns a value

Examples Of Python Expressions: “Hello” + “World”, 4 + 5 etc.

Examples Of Python Statements: Assignment statements, conditional branching, loops, classes, import, def, try, except, pass, del etc


**6. After running the following code, what does the variable bacon contain?**

bacon = 22

bacon + 1

In [8]:
bacon = 22
bacon + 1

23

**7. What should the values of the following two terms be ?**


'spam' +'spamspam'

'spam' * 3

In [9]:
'spam' +'spamspam'

'spamspamspam'

In [10]:
'spam' * 3

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

Variable should not contain first value as int

**9. What three functions can be used to get the integer, floating-point number, or string
version of a value?**

In [14]:
a=int(input()) #integer

7

In [15]:
b=float(input()) #floating-point-number

89.6

In [16]:
c=input() #string

m

In [18]:
d=str(input()) #string

m

**10. Why does this expression cause an error? How can you fix it?**
'I have eaten'  + 99 +  'burritos.'

In [11]:
'I have eaten' + 99 + 'burritos.'

TypeError: ignored

In this expression 99 is int  whereas other two are string.string and integer can't concatenate together.It can concatenate only string  or only integer.

In [12]:
'I have eaten' + '99' + 'burritos.'# after converting int to string it will work.

'I have eaten99burritos.'